* {
  margin: 0px;
  padding: 0px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 97vh;
  width: auto;
  backdrop-filter: blur(10px);
  background-image: url(/AnimeImgs/beuti.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: antiquewhite;
  font-size: 30px;
}
#game {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  height: 310px;
  width: 300px;
  background-color: rgb(255, 196, 0);
  border: 2px solid white;
  box-shadow: 0, 30px, 40px, 0 rgba(202, 202, 202, 0.38);
}
.btns {
  cursor: pointer;
  width: 95px;
  height: 95px;
  font-size: 30px;
  background-color: rgb(82, 26, 26);
  color: aliceblue;
  margin: 2px;
  border: none;
  border-radius: 15px;
  box-shadow: 4px, 4px, 5px, 5px, rgb(30, 24, 24);
}
.winner_container {
  padding: 15px;
  border: 2px solid rgb(230, 224, 224);
  position: absolute;
  top: 65px;
  color: rgb(86, 27, 27);
  background-color: rgb(234, 138, 13);
  border-radius: 20px;
}
.hide{
    display: none;
}
.reset_container{
    /* border: 2px solid red; */
    display: flex;
    margin-bottom: 15px;
    /* gap: 0px; */
}
#RENEW{
    cursor: pointer;
    background-color: bisque;
    margin: 20px;
    padding: 15px;
    width: 120px;
    height: 80px;
    font-weight:500;
    border-radius: 60%;
    font-size: 23px;
}
#RENEW2{
    cursor: pointer;
    background-color: bisque;
    margin: 20px;
    padding: 15px;
    width: 120px;
    height: 80px;
    font-weight:500;
    border-radius: 60%;
    font-size: 23px;
}
.Welcoming_container{
    color: rgb(252, 249, 249);
}
.Welcoming_container h1{
    -webkit-text-stroke: 3px rgba(0, 0, 0, 0.568);
}


